<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Untitled Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link href="styles.css" rel="stylesheet" type="text/css" />
   <script src="js/jquery.min.js"></script>
   <script src="js/js.js"></script>
</head>
<body>
            <div class="skindiv">
            <ul>
                <li><img src="images/bg/1.jpg" width=68 height=43 onclick="setskin(this.src)"></li>
                <li><img src="images/bg/2.jpg" width=68 height=43 onclick="setskin(this.src)"></li>
                <li><img src="images/bg/3.jpg" width=68 height=43 onclick="setskin(this.src)"></li>
                <li><img src="images/bg/4.jpg" width=68 height=43 onclick="setskin(this.src)"></li>
                <li><img src="images/bg/5.jpg" width=68 height=43 onclick="setskin(this.src)"></li>
                <li><img src="images/bg/6.jpg" width=68 height=43 onclick="setskin(this.src)"></li>
            </ul>
        </div>
    <div class="mainbox">

    	<div class="subbox1">
    		<div>
    			<div id="touxiangdiv"><img src="images/touxiang.png" id="touxiangdivimg"></div>
    			<span class="subbox1login">电脑管家-<a id="loginlink">未登录</a></span>
                <div class="closeandmin">
                    <img src="images/yf.png" width=12 height=12 id="yf"><img src="images/aset.png" width=12 height=12 id="aset"><img src="images/min.png" id="min"><img src="images/close.png" id="close">
                    
                </div>
    		</div>
    		<div style="float:left;position: relative;" id="titlepart0">
    			 <div style="position: relative;top: 20px;  float: left;">
    			 	<img src="images/10.png"><span style="font-size: 32px;color: white;left: 30px;float: right;top: 21px;position: relative;">安全环境,从体检开始</span>
    			 </div>
    			 <div class="subbox1_button" style="font-size: 32px;color: white;">
                    <span style="  position: relative;top: 8px;left: 17px;">全面体检</span>
                 </div>
    			 <div></div>
    		</div>
            <div style="float:left;position: relative;display:none;" id="titlepart1">
                 <div style="position: relative;top: 20px;  float: left;">
                    <img src="images/8.png"><span style="font-size: 32px;color: white;left: 30px;float: right;top: 21px;position: relative;">顶起杀毒,清除风险</span>
                 </div>
                 <div class="subbox1_button" style="font-size: 32px;color: white;">
                    <span style="position: relative;top: 8px;left: 17px;">闪电杀毒</span>
                 </div>
                 <div></div>
            </div>
            <div style="float:left;position: relative;display:none;" id="titlepart2">
                 <div style="position: relative;top: 20px;  float: left;">
                    <img src="images/7.png"><span style="font-size: 32px;color: white;left: 30px;float: right;top: 21px;position: relative;">常清理，电脑也轻盈</span>
                 </div>
                 <div class="subbox1_button" style="font-size: 32px;color: white;">
                    <span style="  position: relative;top: 8px;left: 17px;">扫描垃圾</span>
                 </div>
                 <div></div>
            </div>
            <div style="float:left;position: relative;display:none;" id="titlepart3">
                 <div style="position: relative;top: 20px;  float: left;">
                    <img src="images/9.png"><span style="font-size: 32px;color: white;left: 30px;float: right;top: 21px;position: relative;">常加速，电脑更给力</span>
                 </div>
                 <div class="subbox1_button" style="font-size: 32px;color: white;">
                    <span style="  position: relative;top: 8px;left: 17px;">一键扫描</span>
                 </div>
                 <div></div>
            </div>
            <div style="float:left;position: relative;display:none;" id="titlepart4">
                 <div style="position: relative;top: 20px;  float: left;">
                    <img src="images/5.png"><span style="font-size: 32px;color: white;left: 30px;float: right;top: 21px;position: relative;">一键分析软件问题</span>
                 </div>
                 <div class="subbox1_button" style="font-size: 32px;color: white;">
                    <span style="  position: relative;top: 8px;left: 17px;">立即分析</span>
                 </div>
                 <div></div>
            </div>
            <div style="float:left;position: relative;display:none;" id="titlepart5">
                 <div style="position: relative;top: 20px;  float: left;">
                    <img src="images/6.png"><span style="font-size: 32px;color: white;left: 30px;float: right;top: 21px;position: relative;">你的软件有新的软件可更新</span>
                 </div>
 
                 <div></div>
            </div>
    	</div>
    	<div class="subbox2">
    		<div style="height:49px;width:16%;float:left;overflow: hidden;">
    				<ul class="subbox2ul" index="0">
    					<li><img src="images/ic1-1.jpg"><span>首页体检</span></li>
    					<li><img src="images/ic1-2.jpg"><span>首页体检</span></li>
    				</ul>		    			
    		</div>
    		<div style="height:49px;width:16%;float:left;overflow: hidden;">
    				<ul class="subbox2ul" index="1">
    					<li><img src="images/ic2-1.jpg"><span>病毒查杀</span></li>
    					<li><img src="images/ic2-2.jpg"><span>病毒查杀</span></li>
    				</ul>		    			
    		</div>
    		<div style="height:49px;width:16%;float:left;overflow: hidden;">
    				<ul class="subbox2ul" index="2">
    					<li><img src="images/ic3-1.jpg"><span>垃圾清理</span></li>
    					<li><img src="images/ic3-2.jpg"><span>垃圾清理</span></li>
    				</ul>		    			
    		</div>
    		<div style="height:49px;width:16%;float:left;overflow: hidden;">
    				<ul class="subbox2ul" index="3">
    					<li><img src="images/ic4-1.jpg"><span>电脑加速</span></li>
    					<li><img src="images/ic4-2.jpg"><span>电脑加速</span></li>
    				</ul>		    			
    		</div>
    		<div style="height:49px;width:16%;float:left;overflow: hidden;">
    				<ul class="subbox2ul" index="4">
    					<li><img src="images/ic5-1.jpg"><span>软件分析</span></li>
    					<li><img src="images/ic5-2.jpg"><span>软件分析</span></li>
    				</ul>		    			
    		</div>
    		<div style="height:49px;width:16%;float:left;overflow: hidden;">
    				<ul class="subbox2ul" index="5">
    					<li><img src="images/ic6-1.jpg"><span>工具箱</span></li>
    					<li><img src="images/ic6-2.jpg"><span>工具箱</span></li>
    				</ul>		    			
    		</div>
    	</div>
    	<div class="subbox3">
            <div class="subbox3_0"> 
                <ul>
                    <li><img src="images/10.jpg"></li><li><img src="images/11.jpg"></li><li><img src="images/12.jpg"></li>
                </ul>
                 <ul>
                    <li><img src="images/13.jpg"></li>
                    <li class="rg" style="width: 53%">
                        <div><img src="images/rg.png"></div>
                        <div><img src="images/rg.png"></div>
                        <div><img src="images/rg.png"></div>
                        <div><img src="images/rg.png"></div>
                    </li>
                </ul>
            </div>
            <div class="subbox3_1" style="display:none">
                    病毒检查
            </div>
            <div class="subbox3_2" style="display:none">清理垃圾</div>
            <div class="subbox3_3" style="display:none">电脑加速</div>
            <div class="subbox3_4" style="display:none">软件分析</div>
            <div class="subbox3_5" style="display:none">工具箱</div>
        </div>
    	<div class="subbox4">
            <div class="subbox4_1">
                <span>全网环境良好&nbsp;&nbsp;<img src="images/ic7.jpg">&nbsp;37,123,123&nbsp;&nbsp;<img src="images/ic8.jpg">&nbsp;37,123,123</span>
            </div>
        </div>
    </div>
</body>
</html>
