<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Untitled Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link href="login.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.min.js"></script>
   <script src="js/loginjs.js"></script>
</head>
<body>
    <div class="mainbox">
    	<div id="logintitle" style="height: 35px;margin-left: -40px;top: 8px;">
            <div style="width: 50%;"><img src="images/loginlog.png"><span style="font-size: 14px;top: -5px;position: relative;  color: white;">登陆电脑管家</span></div>
            <div style="width:20px;height:20px;  left: 202px;top: 5px;"><img src="images/close.png" class="close" title="关闭"></div>
        </div>
        <div style="height:74px"><img src="images/ad.jpg"/></div>
        <div style="height:117px;text-align:center;border-bottom: 1px solid;border-color:rgb(193, 193, 193);background-color: white;">
            <p>QQ账号:<input type="text"><a>注册账号</a></p>
            <p>QQ密码:<input type="text"><a>找回密码</a></p>
            <p style="margin-left: -134px;"><input type="checkbox">自动登陆</p>
        </div>
        <div style="height:38px;background-color: white">
            <div style="width:50%"></div>
            <div style="width:50%" class="loginbox">
                <input type="button" value="登录" style="border: 1px solid rgb(6, 215, 88);background-color: white;width: 71px;  position: relative;  left: 200px;top:6px;">
                <input type="button" value="取消" style="  border: 1px solid rgb(202, 202, 202);background-color: white;width: 71px;  position: relative;  left: 200px;top:6px;">
            </div>
        </div>
    </div>
</body>
</html>
