<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Untitled Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link href="menu1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="mainbox">
            <ul class="functionlist">
                <li class="l1">反馈建议</li>
                <li class="l2">设置中心</li>
                <li class="l3">检查更新</li>
                <li class="l4">使用指南</li>
                <li class="l5">管家论坛</li>
                <li class="l6">帮助</li>
                <li class="l7">关于</li>
            </ul>
    </div>
</body>
</html>
